
$nav-color: #FFF;
#nav {
  $width: 100%;
  width: $width;
  height:30px;
  line-height: 30px;
  font-size: 30px;
  font-weight: 700;
  background-color: $nav-color;
  color:black;
  transform: rotate(45deg);
}